<% if @order.paypal_payment %>

<b><%= t("Paypal Transaction") %></b>

  <table class="basic-table">
    <tr>
      <th><%= t("Amount") %></th>
      <th><%= t("Fee") %></th>
      <th><%= t("Status") %></th>
      <th><%= t("Transaction Id") %></th>
      <th><%= t("Received At") %></th>
    </tr>
    <% @order.paypal_payment.txns.each do |t| %>
      <tr>
        <td><%=number_to_currency t.amount %></td>
        <td><%=number_to_currency t.fee %></td>
        <td><%=t.status %></td>
        <td><%=t.transaction_id %></td>
        <td><%=t.received_at %></td>
      </tr>
    <% end %>
  </table>
<% end %>